@import "../App.css";


.main-container-element{
    i{
        font-size: 50px;
    }
}

.contact{
    *{
        color: #666;
        margin: 0px auto;
    }

    h4{
        color: #d6001c;
    }
}