.logo {
    color: rgb(228, 34, 34);
    font-size: 35px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

.flex {
    display: flex;
    align-items: center;
}

.navbar {
    font-family: "droid-sans";
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 100px;


    .link {
        text-decoration: none;
        font-size: 16px;
        font-weight: normal;
        color: black;
        padding: 5px 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

.navbar .link:hover {
    opacity: 0.7;
}

.navbar .link2:hover {
    color: black;
    transition: 0.4s;
}