.App{
    max-width: 1440px;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.header-image{
    img{
        object-fit: cover;
    }
}

.main-container {
    margin-top: 20px;
    background-color: white;
    padding: 40px 150px 60px 150px;
    display: flex;

    .main-container-element{
        display: flex;
        flex-direction: column;

        div{
            margin-top: 20px;
        }
    }
}

.main-container-photo{
    margin-top: 20px;
    background-color: white;
    display: flex;

    .main-container-element{
        padding: 80px;

        div{
            margin-top: 20px;
        }
    }
}

.center{
    text-align: center;
}

.link-button{
    text-decoration: none;
    color: white;
    margin-left: 10px;
    margin-right: 5px;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(228, 34, 34);
    border-radius: 20px;
    padding: 7px 30px;
    font-weight: bold;
}

.link-button:hover{
    color: rgb(22 29 148);
    transition: 0.4s;
}

.link{
    color: rgb(228, 34, 34);
    text-decoration: none;
    font-weight: bold;
}

.link:hover{
    color: rgb(22 29 148);
}

h1{
    font-size: 72px !important;
    margin: 0px;
}

h2{
    line-height: 1.2em !important;
    font-size: 54px !important;
    color: rgb(228, 34, 34) !important;
    margin: 0px;
}

h3{
    font-size: 42px !important;
    color: rgb(228, 34, 34) !important;
}

h4{
    font-size: 24px !important;
    margin: 0px !important;
    margin-bottom: 8px;
    color: #161d47 !important;
}

h5{
    font-size: 18px !important;
    margin: 0px;
    color: #161d47 !important;
}

h6{
    font-size: 14px !important;
    font-weight: bold !important;
    margin: 0px;
}

p{
    font-size: 17px !important;
    margin: 0px;
}

.card-content{
    width: 33.33%;
    box-shadow: 5px 5px 40px 1px rgba(0, 0, 0, 0.0784313725490196);
    padding: 40px;
    border: 2px;
    text-align: start;
}